@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
  background: #000;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../log-in/assets/system.jpg") center center / cover;
  z-index: -1;
  
}


.wrapper {
  width: 100%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  color: #fff;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 20px 0;
}

.input-field input {
  width: 100%;
  padding: 10px 0;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #ccc;
  pointer-events: none;
  transition: 0.2s ease all;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  top: -8px;
  font-size: 12px;
  color: #fff;
}

.forget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 30px;
  font-size: 14px;
}

.forget input {
  accent-color: #fff;
}

.forget label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.wrapper a {
  color: #fff;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

button {
  background: #fff;
  color: #000;
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: 1px solid #fff;
}

.register {
  margin-top: 25px;
  font-size: 14px;
}
